.home-loggedIn {
  position: relative;
  left: 3vw;
  top: 20vh;
  display: flex;
  flex-direction: column;
  text-align: justify;
  max-width: 65vw;
}
.header-and-btn {
  display: flex;
  justify-content: space-between;
}
choose-btn {
  display: flex;
  align-items: baseline;
}
.headline-hompage {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 38px;
}
p {
  font-size: 20px;
  position: relative;
}
button {
  display: flex;
  align-items: baseline;
}
