.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.page-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 5%;
  border: 5px solid yellowgreen;
}
.search {
  position: relative;
  /* top: 150px;
  left: -90px;
  max-width: 50vw;
  margin: auto 20vw; */
  padding: 10px;
}

.search lable {
  display: block;
  margin: 30px auto;
}

.search span {
  display: block;
  margin-bottom: 10px;
}

.search input {
  padding: 8px 6px;
  font-size: 1em;
  width: 80%;
  border: 2px solid #cccccc;
  border-radius: 6px;
  margin-bottom: 5px;
}
.search textarea {
  padding: 8px 6px;
  font-size: 1em;
  width: 80%;
  border: 2px solid #cccccc;
  border-radius: 6px;
  margin-bottom: 5px;
}
.search-btn {
  position: fixed;
  top: 15%;
  left: 65%;
}
.result-container {
  border: 1px solid black;
  /* align-self: flex-end; */
}
